.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}

.portfolio__item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item > h3 {
    font-size: 1rem;
    margin: 1.2rem 0.2rem;
    color: var(--color-primary);
}

.portfolio__buttons{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* .portfolio__buttons > .btn{
    padding: 0.375rem 0.6rem;
} */

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============*/
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =============*/
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}